

.bg-fundo {
    background-color: #8c8f8fb9;
}

.menu{
    position: fixed;
}

.main-container{
  background-image:linear-gradient(to right, rgba(78, 78, 78, 0.432), rgba(12, 11, 11, 0.979)), url(imagens/bg.jpg);
  background-position: center;  
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.fs-20{
    font-size: 20pt;
}

.nav-item .fa-brands, .fa{
    color: white;
}

.fa-github:hover{
    color: #0e0d0d
    

}

.fa-linkedin:hover{
    color: #0A66C2;

}

.fa-envelope:hover{
    color:  #1d6d96

}

.fa-download:hover{
    color: beige;
}


.conhecimentos{
    border: solid 1px white;
    width: 210px;
    height: 60px ;
    margin: 5px auto;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18pt;
    background-color: white;
    color: black;
    border-radius: 2px;
    
}

.conhecimentos:hover{
    background-color: transparent;
    color: white;
}

.conhecimentos-icones {
    color: black;
}

.projetos{
    border: solid 1px white;
    min-width: 35vw;
    min-height: 30vh ;
    list-style-type: none;
    border-radius: 8px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.projetos p.descricao{
    width: 30vw;
}

.btn-projetos{
    background: transparent;    
    border: 1px solid white;
    margin-left: 5px;
    margin-top: 8px;
    background: white;
    border-radius: 8px;
    
}

.btn-projetos a {
    text-decoration: none;
    color: black;
}

.btn-projetos:hover{
    background: transparent;
}



